body{
	background-color: #2E4974;
	padding: 0px;
	margin: 0px;
}

/*#gradient{
	width: 100%;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}*/

.btn-gra{
	border: none;
	border-radius: 50px;
	width: 170px;
	height: 70px;
	color: #fff;
	margin: auto;
	display: block;
	font-size: 1em;
	letter-spacing: 1px;
}

.top{
	margin-top: 50px;
}